{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>{% block title %}Auction House {% endblock %}</title>
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'auctions/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'auctions/css/style.css' %}">   
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'auctions/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'auctions/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout" onload="window.location='#content_display_page';">
      <header>
         <div  class="head_top">
            <div class="header">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a href="#"><img src="{% static 'auctions/images/logo.png' %}" alt="Auction House" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'auctions:categories' %}">Categories</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'auctions:watchlist' %}">WatchList</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                                </li>
                                {% endif %}                        
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <!-- banner -->
            <section class="banner_main">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-md-6">
                        <div class="text-bg">
                           <h1>The Auction House</h1>
                           <p>Auction House is online auction system which allows anyone who wants to buy paintings online via auction to bid for the paintings and other different products of arts category online.</p>
                           <a href="https://en.wikipedia.org/wiki/Online_auction">Read More</a>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="text-img">
                           <figure><img src="{% static 'auctions/images/box_img.png' %}" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>
      <!-- end banner -->
      <!-- business -->
      <div class="business">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage" id = "content_display_page">
                {% block body %}
                {% endblock %}   
                <br>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                    <hr>
                    <br>
                    <br>
                    <br>
                    <hr>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <div class="footer">
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>Copyright @ Online Auction System Nepal</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'auctions/js/jquery.min.js' %}"></script>
      <script src="{% static 'auctions/js/popper.min.js' %}"></script>
      <script src="{% static 'auctions/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'auctions/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'auctions/js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'auctions/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'auctions/js/custom.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

